/*Container*/

body {
  margin: 0;
  padding: 0;
}

p{
  color: white;
  font-weight: bold;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-template-rows: 35px 1fr 1fr 130px;
}

/*Rectangles*/
#rec1 {
  background-color: #06d6a0;
  grid-area: 1 / 1 / 1 / 6;
}

#rec2 {
  background-color: #1a759f;
  grid-area: 1 / 6 / 1 / 7;
}

#rec3 {
  background-color: #e63946;
  grid-area: 2 / 1 / 4 / 3;
}

#rec4 {
  background-color: #e76f51;
  grid-area: 2 / 3 / 2 / 5;
}

#rec5 {
  background-color: #b7b7a4;
  grid-area: 2 / 5 / 2 / 7;
}

#rec6 {
  background-color: #ffb703;
  grid-row-start: 3 / 3 / 3 / 4;
}

#rec7 {
  background-color: #2a9d8f;
  grid-area: 3 / 4 / 3 / 5;
}

#rec8 {
  background-color: #f48c06;
  grid-area: 3 / 5 / 3 / 6;
}

#rec9 {
  background-color: #2f3e46;
  grid-area: 4 / 1 / 4 / -1;
}
