/* Changement forme carré vers rond hover */

.div-carre {
    background-color: red;
    height: 150px;
    margin-left: 40%;
    margin-top: 20px;
    width: 150px;
    transition: all 0.5s ease-out;
}

.div-carre:hover {
border-radius: 50%;
}